 .loader {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1 1 auto;
 }

 .edit-mode-buttons {
   display: flex;
   flex-direction: column;
   button {
     margin: 2px;
   }
 }

 .editing {
   display: none;
 }

 .create {
   button {
     max-height: 70px;
     min-height: 70px;
   }
 }

 :host {
   display: flex;
   boss-grid {
     width: 100%;
   }
 }
