mat-list-item {
  min-width: 300px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  .preview {
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    mat-icon {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .filename {
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px
  }
}
